<%- include('./layouts/header') %>
    <div class="w-full overflow-x-auto relative shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        ID </th>
                    <th scope="col" class="py-3 px-6">
                        Email
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Role
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Status
                    </th>
                    <th scope="col" class="py-3 px-6">
                        <span class="sr-only">Edit</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user=> { %>
                    <tr class="bg-white border-b dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            <%= user.id %>
                        </th>
                        <td class="py-4 px-6">
                            <a href="/api/v1/profile/getprofile/<%= user.id %>">
                                <%= user.email %>
                            </a>
                        </td>
                        <td class="py-4 px-4">
                            <form action="/api/v1/admin/update-role" method="post">
                                <input type="hidden" name="id" value="<%= user.id %>">
                                <select name="role" id="role"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option value="Enterprise" <%=user.role==='Enterprise' ? 'selected' : '' %>
                                        >Enterprise</option>
                                    <option value="Admin" <%=user.role==='Admin' ? 'selected' : '' %> >Admin</option>
                                    <option value="Moderator" <%=user.role==='Moderator' ? 'selected' : '' %>>Moderator
                                    </option>
                                    <option value="Client" <%=user.role==='Client' ? 'selected' : '' %>>Client</option>
                                </select>
                        </td>


                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            <% if (user.status==='active' ) { %>
                                <span class="inline-flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full status active l">active</span>
                                <% } else {%>
                                    <span class="inline-flex px-2 text-xs font-semibold leading-5 text-yellow-800 bg-red-100 rounded-full status inactive l">inactive</span>
                                    <% } %> 
                        </td>
                        <td class="py-4 px-6 text-right">
                            <input type="submit" value="Edit"
                                class="font-medium text-blue-600 dark:text-blue-500 hover:underline"></input>
                        </td>
                        </form>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
    <%- include('./layouts/footer') %>

    <script>
        const status = document.querySelector('.status');
        const active = document.querySelector('.active');
        const inactive = document.querySelector('.inactive');
                
        //loop each user, and trigger addeventlistener if status is active, change status to inactive, vice versa
        status.forEach(user => {
            user.addEventListener('click', function() {
                if (user.classList.contains('active')) {
                    user.classList.remove('active');
                    user.classList.add('inactive');
                    user.innerHTML = 'inactive';
                } else {
                    user.classList.remove('inactive');
                    user.classList.add('active');
                    user.innerHTML = 'active';
                }
            });
        });
// //send axios request to update status
//         status.addEventListener('click', (e) => {
//             const id = e.target.parentElement.parentElement.firstElementChild.innerText;
//             const status = e.target.innerText;
//             console.log(id, status);
//             axios.post('/api/v1/admin/update-status', {
//                 id,
//                 status
//             })
//                 .then(res => {
//                     console.log(res);
//                     if (res.data.result == 'active') {
//                         e.target.innerText = 'active';
//                         e.target.classList.remove('bg-red-100');
//                         e.target.classList.add('bg-green-100');
//                     } else if (res.data.result == 'inactive') {
//                         e.target.innerText = 'inactive';
//                         e.target.classList.remove('bg-green-100');
//                         e.target.classList.add('bg-red-100');
//                     }
//                 })
//                 .catch(err => {
//                     console.log(err);
//                 });
//         });
   

    </script>