<%- include('./layouts/header') %>
  <style>
    .profile {
      min-width: 600px;
      padding: 16px;
      border: 4px solid #d1d5db;
      border-radius: 16px;
      margin-top: 32px;
    }

    .profile>div {
      padding: 16px;
    }

    .profile .title {
      font-weight: bold;
    }

    .goback {
      cursor: pointer;
    }
  </style>
  <h1><span class="goback" onclick="window.history.back()"></span>Profile</h1>

  <div class="profile">
    <div>
      <p class="title">ID</p>
      <p class="subtitle">
        <%= person.id %>
      </p>
    </div>
    <div>
      <p class="title">Email/username</p>
      <p class="subtitle">
        <%= person.email %>
      </p>
    </div>
    <div>
      <p class="title">Role</p>
      <p class="subtitle">
        <%= person.role%>
      </p>
    </div>
    <div>
      <p class="title">User Object</p>
      <p class="subtitle"><%= person %> </p>
    </div>
  </div>
  <%- include('./layouts/footer') %>